.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 12px;
  text-align: center;
}

.title {
  overflow: hidden;
  border-right: 0.015em solid black;
  white-space: nowrap;
  animation: typing 4.5s steps(40, end) infinite;
  animation-delay: 4.5s;
  text-align: center;
  font-size: 40px;
  max-width: fit-content;
}

.summary {
  margin: 0 12rem;
  line-height: 1.65;
  font-weight: 500;
}

.socials {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
}

@media screen and (max-width: 992px) {
  .summary {
    margin: 0 2rem;
    line-height: 1.65;
  }
}

/* The typing effect */

// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }
@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  75% {
    width: 100%;
  }
}
@keyframes pause {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
