.banner{
    background-color: black;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        text-align: center;
        color: #e2e0e0;
    }
}