.highlight {
  border-radius: 8px;
  min-width: 100%;
  z-index: 200;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  h1 {
    text-align: center;
    font-size: 24px;
  }
}

.highlight .heading2 {
  text-align: center;
  padding: 1rem;
}

.slider {
  display: grid;
  grid-template-columns: auto;
  min-width: 100%;
  grid-gap: 0.5rem;
  padding: 6px;
  align-items: center;
  justify-content: center;

  // box-shadow: 2px 2px #555;
}

@media only screen and (max-width: 992px) {
  .slider {
    padding: 0px;
  }
}
.horizontalScroll {
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 1;
  gap: 20px;
  padding: 16px 8px;
  white-space: nowrap;
  overflow-x: auto;
  // background-color: rgb(232, 229, 229);
  //   max-width: 20rem;
  &::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f6f7f8;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.card {
  height: 12rem;
  width: 10rem;
  margin: 6px;
  background-color: rgb(19, 13, 88);
  display: inline-block;
  border-radius: 15px;
}
/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.content {
  margin: auto;
}

.project_wrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.project_wrapper:nth-child(2) {
  flex-direction: row-reverse;
}
.project_headline {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.action_btn {
  background-color: rgba(15, 27, 13, 1);
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.action_btn:hover {
  font-weight: 500;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.project_image {
  // border-radius: 20px;
  // flex-shrink: 1.5;
  background-color: rgb(245, 241, 241);
  position: relative;
  width: 480px;
  height: 300px;
  box-shadow: 1px 1px 8px 4px rgba(39, 39, 39, 0.2);

  &:hover {
    // height: 500;
    transform: scale(1.005);
    .description {
      background-color: rgba($color: #1b1e1b, $alpha: 0.7);
      justify-content: center;
      align-items: center;
    }
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

.project_card {
  z-index: 10;
  transition: transform 0.5s ease-in-out;
  margin-bottom: 1rem;
  padding: 10px 0px;
}

.description {
  // text-align: center;
  // padding-bottom: 2px;
  position: absolute;
  top: 0px;
  // width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 5px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  border-radius: inherit;
  transition: transform 1.5s ease-in-out;
  gap: 5px;

  // background-color: rgba($color: #1b1e1b, $alpha: 0.7);

  p {
    color: #f6f7f8;
    // background-color: green;
    span {
      background-color: rgb(12, 17, 12);
      border-radius: 20px;
      padding: 5px;
      font-size: 10px;
    }
  }
  h3 {
    // text-align: center;
    color: #f6f7f8;
    // background-color: green;
    span {
      background-color: rgb(14, 17, 12);
      border-radius: 20px;
      padding: 5px;
      font-size: 14px;
    }
  }
}
.darktext {
  color: #000 !important;
}

@media screen and (max-width: 768px) {
  .project_wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    align-content: stretch;
    width: 100vw;
    padding: 2rem;
  }
  .project_image {
    width: 100%;
    height: 300px;
  }
  .project_headline {
    align-self: flex-start;
  }
}
