.resources {
  min-width: 100%;
  h1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
.container {
  display: flex;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 12rem;
  //   flex: 0 0 10rem;

  border-radius: 8px;
  box-shadow: 1px 1px 1px rgb(48, 46, 46);
  width: 18rem;
  z-index: 10;
  display: grid;
  align-items: center;
  flex-grow: 1;
  &:hover {
    background-color: rgb(33, 24, 24);
    color: rgb(251, 241, 241);
    font-weight: 500;
    a {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 576px) {
  .card {
    flex: 1 1 100%;
    background-color: rgb(33, 24, 24);
    color: rgb(251, 241, 241);
    font-weight: 500;
    a {
      text-decoration: underline;
    }
  }
}
