.carouselList {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
  }
}

.container {
    border-radius: 8px;
    box-shadow: 2px 2px 2px  2px rgb(123, 131, 102);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}